<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="calcSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="calcSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44314/calc.asmx" binding="basicHttpBinding"
                bindingConfiguration="calcSoap" contract="ServiceReference1.calcSoap"
                name="calcSoap" />
        </client>
    </system.serviceModel>
</configuration>